<header>
    <!-- Navbar Section -->
    <div class="container-fluid mb-5"></div>    
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">
                            <img src="assets/ReflectionsLogo.da68fb05.svg" alt="Bootstrap">
                        </a>

                        <!-- Navbar Toggler for Mobile -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar Links -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold " aria-current="page" routerLink="/admin/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold" aria-current="page" routerLink="/admin/request-list">Travel Requests</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold active" aria-current="page" routerLink="/admin/create/">Create</a>
                                </li>
                            </ul>
                            <!-- Logout Button -->
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <button class="nav-link color-green fw-bold btn btn-link p-0 border-0" aria-current="page" (click)="logout()" >Logout</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
</header>

<!-- Form Container -->
<main class="container my-5">
    <div class="row">
        <div class="col-md-7 col-lg-8 d-flex mx-auto">
            <!-- Card with form -->
            <div class="card p-3 d-flex align-items-center shadow mb-5 bg-body-tertiary rounded">
                <h1 class="color-green">New Manager</h1>
                
                <!-- New Manager Form -->
                <form [formGroup]="managerForm" (ngSubmit)="onSubmit()">
                    <div class="row g-3">
                        <!-- Manager Dropdown Selection -->
                        <div class="col-sm-12">
                            <label for="department" class="form-label">Manager</label>
                            <select class="form-select" id="manager" formControlName="department">
                                <option value="" disabled selected>Select Department</option>
                                <option *ngFor="let department of departments" [value]="department.id">
                                    {{ department.name }}
                                  </option>                                  
                            </select>
                        </div>
                        <!-- First Name Field -->
                        <div class="col-sm-6">
                            <label for="fname" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" formControlName="first_name" required autofocus>
                        </div>
            
                        <!-- Last Name Field -->
                        <div class="col-sm-6">
                            <label for="lname" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" formControlName="last_name"required>
                        </div>

                        <!-- Email Field -->
                        <div class="col-sm-6">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" required>
                        </div>

                        <!-- Password Field -->
                        <div class="col-sm-6">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password" required>
                        </div>

                        <!-- Submit Button -->
                        <button class="w-100 btn color-green btn-lg" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>