<header>
    <!-- Navbar Section -->
    <div class="container-fluid mb-5"></div>    
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">
                            <img src="assets/ReflectionsLogo.da68fb05.svg" alt="Bootstrap">
                        </a>

                        <!-- Navbar Toggler for Mobile -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar Links -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold active" aria-current="page" routerLink="/admin/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold" aria-current="page" routerLink="/admin/request-list">Travel Requests</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold" aria-current="page" routerLink="/admin/create">Create</a>
                                </li>
                            </ul>
                            <!-- Logout Button -->
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link color-green fw-bold" aria-current="page" (click)="logout()">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
</header>

<div class="container mt-4">
    <h2 class="text-center text-primary">{{ entityType | titlecase }}</h2>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th *ngIf="entityType === 'managers' || entityType === 'employees'">Name</th>
                <th *ngIf="entityType === 'managers' || entityType === 'employees'">Email</th>
                <th *ngIf="entityType === 'departments'">Department Name</th>
                <th *ngIf="entityType === 'managers'">Department</th>
                <th *ngIf="entityType === 'employees'">Manager</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of userList">
                <td>{{ item.id }}</td>
                <td *ngIf="entityType === 'managers' || entityType === 'employees'">{{ item.first_name }} {{ item.last_name }}</td>
                <td *ngIf="entityType === 'managers' || entityType === 'employees'">{{ item.email }}</td>
                <td *ngIf="entityType === 'departments'">{{ item.name }}</td>
                <td *ngIf="entityType === 'managers'">{{ item.department }}</td>
                <td *ngIf="entityType === 'employees'">{{item.manager_name}}</td>
            </tr>
        </tbody>
    </table>
</div>
