<header>
    <!-- Navbar Section -->
    <div class="container-fluid mb-5"></div>    
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-dark">
                    <div class="container-fluid">
                        <!-- Logo -->
                        <a class="navbar-brand" href="#">
                            <img src="assets/ReflectionsLogo.da68fb05.svg" alt="Bootstrap">
                        </a>

                        <!-- Navbar Toggler for Mobile -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar Links -->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold active" aria-current="page" routerLink="/admin/home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold" aria-current="page" routerLink="/admin/request-list">Travel Requests</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link  color-green fw-bold" aria-current="page" routerLink="/admin/create/">Create</a>
                                </li>
                            </ul>
                            <!-- Logout Button -->
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                  <button class="nav-link color-green fw-bold btn btn-link p-0 border-0" aria-current="page" (click)="logout()" >Logout</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
</header>
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header bg-dark text-white text-center">
            <h5>Create Department</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="name" class="form-label fw-bold">Department Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-green fw-bold" [disabled]="departmentForm.invalid">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  